.howItWorksImg{
    width: 200px !important;
    display: block;
    margin-left: auto;
    margin-right: auto}
.commentsSection{
    background-image: url('./../images/topRightPortal.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 100px 0 40px;
}